@import url('http://fonts.cdnfonts.com/css/graphik');

@font-face {
    font-family: "Gelion";
    src: url("../fonts/Gelion/Gelion-Regular.ttf"); /* IE9*/
    src: url("../fonts/Gelion/Gelion-Regular.ttf") format("embedded-opentype"),
    url("../fonts/Gelion/Gelion-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

*{
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #5D6970;
}

a{
    text-decoration: none;
}